/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0rem) {
    // Website colors
    :root {
        --primary: #ff6d19;
        --primaryLight: #ffd675;
        --secondary: #001f3f;
        --secondaryLight: #001f3f;
        --headerColor: #000;
        --bodyTextColor: #000;
        --bodyTextColorWhite: #fff;

        /* 13px - 16px */
        --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyFontSize: 1rem;

        /* 60px - 100px top and bottom */
        --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }

    // Text styles - can be replaced using CodeStitch's "Content Flair" Stitches
    .cs-topper {
        display: block;
        margin-bottom: 0.25rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        font-weight: 700;
        color: var(--primary);
        text-align: inherit;
    }

    .cs-title {
        position: relative;
        margin: 0 0 1rem 0;
        max-width: 43.75rem;
        font-size: var(--headerFontSize);
        line-height: 1.2em;
        font-weight: 900;
        color: var(--headerColor);
        text-align: inherit;
    }

    .cs-text {
        margin: 0;
        max-width: 40.625rem;
        width: 100%;
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        color: var(--bodyTextColor);
        text-align: inherit;
    }

    // Button - can be replaced using CodeStitch's "Button" Stitches
    .cs-button-solid {
        z-index: 1;
        position: relative;
        display: inline-block;
        background-color: var(--primary);
        width: auto;
        padding: 0 (30/16rem);
        text-decoration: none;
        text-transform: uppercase;
        font-size: (16/16rem);
        line-height: (50/16em);
        font-weight: bold;

        // Transition Properties
        color: #000;
        transition: color 0.3s;
        transition-delay: 0.1s;
        text-align: center;

        &:hover {
            color: #fff;
            &:before {
                width: 100%;
            }
        }

        &:before {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            opacity: 1;
            display: block;
            background-color: #000;
            height: 100%;

            //Transition properties
            width: 0;
            transition: width 0.3s;
        }
    }

    .cs-hide-on-mobile {
        display: none;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .cs-hide-on-mobile {
        display: block;
    }

    .cs-hide-on-desktop {
        display: none;
    }
}

/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
    body,
    html {
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-size: 100%;
        color: var(--bodyTextColor);
    }

    *,
    *:before,
    *:after {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    body {
        transition: background-color 0.3s;
    }

    .container {
        position: relative;
        margin: auto;
        width: 92%;
    }


    .cs-li {
        font-size: var(--bodyFontSize);
        list-style: none;
        line-height: 1.5em;
        width: 100%;
        color: var(--bodyTextColor);
        display: flex;
        justify-content: flex-start;
        /* push icon top the top so if the list item goes to two lines the icon stays at the top */
        align-items: flex-start;
        gap: (8/16rem);
    }

    .cs-icon {
        width: (24/16rem);
        height: auto;
        /* adds extra space between the icon and top of parent so it's more centered */
        margin-top: 1px;
        display: block;
    }
    
    .hover-effect {
        background: #000;
    
        .cs-h3 {
            color: var(--primary);
        }
    
        .cs-item-text {
            color: #fff;
        }
    
        .cs-li {
            color: #fff;
        }
    
        .cs-icon {
            transform: rotateY(360deg) translateY(-0.25rem);
            filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
            transition: transform 0.5s ease, filter 0.5s ease;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        color: var(--headerColor);
    }

    p,
    li,
    a {
        margin: 0;
        font-size: (16/16rem);
        line-height: 1.5em;
    }

    p,
    li {
        color: #353535;
    }

    a,
    button {
        &:hover {
            cursor: pointer;
        }
    }

    // Hidden Screen reader skip nav button
    .skip {
        z-index: -1111111;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/poppins-v21-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url('/assets/fonts/poppins-v21-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/poppins-v21-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* Reset Margins */
@media only screen and (min-width: 1024px) {
    body,
    html {
        margin: 0;
        padding: 0;
    }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
    body,
    html {
        font-size: 0.55vw;
    }
}

}
                                
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1427 {
        text-align: center;
        padding: var(--sectionPadding);
        overflow: visible;
        position: relative;
        z-index: 1;

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 20rem;
            z-index: -2;
           

                 img {
                position: absolute;
                top: 0;
                left: 0;
                height: 50%;
                width: 100%;
                object-fit: cover;
                margin-top:15rem;
               
            }
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: (48/16rem);
        }

        .cs-content {
            text-align: center;
            width: 100%;
            max-width: (400/16rem);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: left;
        }

   
        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2rem, 3.2vw, 2.8rem);
            min-height: (350/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            max-width: (829/16rem);
            color:var(--bodyTextColor);
            position: relative;
        }

        .little {
            font-size: 50%;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.95vw, 1.25rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            /* 464px - 622px */
            max-width: clamp(29rem, 60vw, 38.785rem);
            margin: 0;
            margin-top: (16/16rem);
            color:var(--bodyTextColor);
        }

    }
}
@media only screen and (min-width: 48rem) {  
    #hero-1427 {
        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 20rem;
            z-index: -2;
           

                 img {
                position: absolute;
                top: 0;
                left: 0;
                height: 50%;
                width: 100%;
                object-fit: contain;
                margin-top:20rem;

               
            }
        }
    }
}
@media only screen and (min-width: 87rem) {     
    #hero-1427 {

        .cs-title {
            min-height: (450/16rem);
        }
      
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin-left: (75/16rem);
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            gap: (48/16rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            max-width: (400/16rem);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: left;
        }
     
        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 0rem;
            z-index: -2;
           

                 img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: contain;
                margin-top:0rem;               
            }
        }
    }
}

/*-- -------------------------- -->
<---          Experience          -->
<--- -------------------------- -*/
  
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1330 {
        padding: var(--sectionPadding);
        padding-top:(150/16rem);
        margin-top:10rem;
        
        
  
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }
  
        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
        }
  
        .cs-title {
            margin-top:(32/16rem);
            color: var(--bodyTextColor);
        }
  
        .cs-text {
            margin-bottom: (16/16rem);
            color: var(--bodyTextColor);
            opacity: 0.8;
  
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

      
      
  
        .cs-card-group {
            width: 100%;
            max-width: (847/16rem);
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            justify-content: center;
            gap: (16/16rem);
        }
  
        .cs-item {
            list-style: none;
            /* .cs-h3 and .cs-item-text both use text-align: inherit, so change the below to affect the whole item */
            text-align: left;
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            /* 20px - 48px */
            padding: clamp(1.25rem, 2.2vw + 1rem, 3rem);
            background-color: transparent;
            display: flex;
            grid-column: span 12;
            flex-direction: column;
            transition: background-color 0.4s ease, border-color 0.4s;
  
            &:hover {
                background: #000;

                .cs-h3 {
                    color: var(--primary);
                }

                .cs-item-text {
                    color: #fff;
                }

                .cs-li {
                    color: #fff;
                }

                .cs-icon {
                    transform: rotateY(360deg) translateY(-0.25rem);
                    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);                  
                }

                
            }
        }

        .hover-effect {
            background: #000;
        
            .cs-h3 {
                color: var(--primary);
            }
        
            .cs-item-text {
                color: #fff;
            }
        
            .cs-li {
                color: #fff;
            }
        
            .cs-icon {
                transform: rotateY(360deg) translateY(-0.25rem);
                filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
                transition: transform 0.5s ease, filter 0.5s ease;
            }
        }
        .cs-picture {
            margin-bottom: (20/16rem);
            border-radius: 50%;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
        }
  
        .cs-icon {
            width: (30/16rem);
            height: auto;
            display: block;
            transition: transform 0.5s;
        }
  
        .cs-h3 {
            font-size: (20/16rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            margin-bottom: (12/16rem);
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }
  
        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            opacity: 0.8;
  
        }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #services-1330 {
        padding-top:(300/16rem);
        
     
        .cs-item {
            grid-column: span 6;
            margin: 0;
        }
    }
  }
  
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #services-1330 {
        padding-top:(100/16rem);
        .cs-container {
            flex-direction: column;
        }
  
        .cs-content {
            max-width: (1200/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
  
        .cs-title {
            max-width: (750/16rem);
        }
  
        .cs-item {
            max-width: none;
        }
    }
  }


/*-- -------------------------- -->
<---          Skills          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1201 {
        padding: var(--sectionPadding);

        .cs-container {
            max-width: (1280/16rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin-top:(32/16rem);
            color: var(--bodyTextColor);
        }

        .cs-flex-group {
            display: flex;
            flex-direction: column;
        }

      
        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-content: center;
            gap: (16/16rem);
        }

        .cs-item {
            /* .cs-h3 and .cs-item-text both use text-align: inherit, so change the below to affect the whole item */
            text-align: left;
            list-style: none;
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            /* 20px - 48px */
            padding: clamp(1.25rem, 2.2vw + 1rem, 3rem);
            display: flex;
            flex-direction: column;
            transition: background-color 0.4s;

            &:hover {
                background: #000;

                .cs-h3 {
                    color: var(--primary);
                }

                .cs-item-text {
                    color: #fff;
                }

                .cs-li {
                    color: #fff;
                }

                .cs-icon {
                    transform: rotateY(360deg) translateY(-0.25rem);
                    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);        
                }
            }
        }
        .hover-effect {
            background: #000;
        
            .cs-h3 {
                color: var(--primary);
            }
        
            .cs-item-text {
                color: #fff;
            }
        
            .cs-li {
                color: #fff;
            }
        
            .cs-icon {
                transform: rotateY(360deg) translateY(-0.25rem);
                filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
                transition: transform 0.5s ease, filter 0.5s ease;
            }
        }
        .cs-picture {
            margin-bottom: (20/16rem);
            border-radius: 50%;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-icon {
            width: (30/16rem);
            height: auto;
            display: block;
            transition: transform 0.5s;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            margin-bottom: (12/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1201 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
        }


        .cs-card-group {
            grid-template-columns: repeat(2, 1fr);
        }

        .cs-item {
            margin: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-1201 {
        .cs-content,
        .cs-card-group {
            max-width: (1280/16rem);
        }

        .cs-title {
            max-width: (750/16rem);
        }

        .cs-card-group {
            grid-template-columns: repeat(4, 1fr);
        }

        .cs-item {
            max-width: none;

            &:first-of-type,
            &:last-of-type {
                grid-column: span 2;
            }
        }
    }
}
                                                      
/*-- -------------------------- -->
<---          Projects          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1728 {
        padding: var(--sectionPadding);
        /* changes side padding from the 1rem in the root css file to this clamp because it looks more proportional with this stitch's layout */
        padding-left: clamp(1rem, 3vw, 6.25rem);
        padding-right: clamp(1rem, 3vw, 6.25rem);
     
   
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1720/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (1280/16rem);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 13ch;
            margin-top:(32/16rem);
            
        }

        .cs-text {
            max-width: (632/16rem);
         
            opacity: .8;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            /* 160px - 380px */
            height: clamp(10rem, 27vw, 26.25rem);
            margin: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            padding: 0;
            background-color: #000;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            grid-column: span 12;
            position: relative;
            z-index: 1;
            transition: background-color 0.4s;

            &:hover {
                .cs-picture {
                    &:before {
                        opacity: .7;
                    }

                    img {
                        transform: scale(1.2);
                    }
                }

                .cs-h3 {
                    color: var(--primary);
                }
            }
        }
        .hover-effect {
            background: #000;
        
            .cs-h3 {
                color: var(--primary);
            }
        
            .cs-item-text {
                color: #fff;
            }
        
            .cs-li {
                color: #fff;
            }
        
            .cs-icon {
                transform: rotateY(360deg) translateY(-0.25rem);
                filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
                transition: transform 0.5s ease, filter 0.5s ease;
            }
        }
        .cs-link {
            text-decoration: none;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            /* 20px - 32px */
            padding: clamp(1.25rem, 2.3vw, 2rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            /* we use flexbox here to grow the link to fit the whole item, making it clickable everywhere, no matter the size */
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            z-index: 1;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            transition: color 0.3s;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            overflow: hidden;

            &:before {
                /* hover overlay */
                content: "";
                width: 100%;
                height: 100%;
                opacity: 0;
                background-color: #000;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                /* as we can't animate background gradients, we animate the change of opacity from 0 to 1 */
                transition: opacity 0.3s;
            }

            &:after {
                /* gradient overlay */
                content: "";
                width: 100%;
                height: 80%;
                opacity: 1;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 35.94%, #000 90.78%);
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -1;
                /* as we can't animate background gradients, we animate the change of opacity from 0 to 1 */
                transition: opacity 0.3s;
            }

            img {
                width: 100%;
                height: 100%;
                /* Makes img tag act as a background image */
                object-fit: contain;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform 0.3s;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1728 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        .cs-item {
            grid-column: span 4;

            &:nth-of-type(4), &:nth-of-type(5) {
                grid-column: span 6;
            }
        }

        .cs-text {
            width: 60%;
        }

      
    }
}
 
/* Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #services-1728 {
        .cs-card-group {
            grid-template-columns: repeat(10, 1fr);
        }

        .cs-item {
            grid-column: span 2;

            &:nth-of-type(4), &:nth-of-type(5) {
                grid-column: span 2;
            }
        }
    }
}
                                                         
/*-- -------------------------- -->
<---          Contact          -->
<--- -------------------------- -*/


/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-366 {
        padding: var(--sectionPadding);
        padding-bottom: clamp(25rem, 30vw, 28.125rem);

        @keyframes floatAnimation2 {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-4px);
            }
            70% {
                transform: translateY(4px);
            }
            100% {
                transform: translateY(0);
            }
        }

        @keyframes InAndOut {
            0% {
                transform: translateY(3.75rem) scale(1);
                opacity: 1;
            }
            30% {
                transform: translateY(1.875rem) scale(0.8);
                opacity: 1;
            }
            60% {
                transform: translateY(0.625rem) scale(0.5);
                opacity: 0.2;
            }
            100% {
                transform: translateY(0rem) scale(0.2);
                opacity: 0;
            }
        }

        @keyframes InAndOut2 {
            0% {
                transform: translateY(4.375rem) scale(1);
                opacity: 1;
            }
            30% {
                transform: translateY(2.5rem) scale(0.8);
                opacity: 1;
            }
            60% {
                transform: translateY(1.25rem) scale(0.6);
                opacity: 1;
            }
            100% {
                transform: translateY(0rem) scale(0.4);
                opacity: 0;
            }
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            /* 16px - 20px */
            column-gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (500/16rem);
            /* 20px - 40px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(1.25rem, 3.5vw, 2.5rem) clamp(1rem, 2.5vw, 2rem);
            box-sizing: border-box;
            transition: background-color 0.3s;

            &:hover {
                background-color: #000;

                .cs-icon-wrapper,
                .cs-bubble {
                    &:before,
                    &:after {
                        background-color: #fff;
                    }
                }

                .cs-icon {
                    /* makes it white on hover */
                   
                    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);        
                }

                .cs-h3 {
                    color: #fff;
                }

                .cs-item-text {
                    color: #fff;
                }
            }
        }
        .hover-effect {
            background: #000;
        
            .cs-h3 {
                color: var(--primary);
            }
        
            .cs-item-text {
                color: #fff;
            }
        
            .cs-li {
                color: #fff;
            }
        
            .cs-icon {
                transform: rotateY(360deg) translateY(-0.25rem);
                filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
                transition: transform 0.5s ease, filter 0.5s ease;
            }
        }
        .cs-link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-link-z {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color:#fff;
            font-size: larger;
        }

        .cs-icon-wrapper {
            width: (98/16rem);
            height: (120/16rem);
            margin-bottom: (24/16rem);
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;

            &:before {
                /* Small Bubble */
                content: "";
                width: (27/16rem);
                height: (27/16rem);
                
                background: #000;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: (3/16rem);
                animation-name: InAndOut;
                animation-duration: 2.4s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                transition: background-color 0.3s;
            }

            &:after {
                /* Small Bubble */
                content: "";
                width: (27/16rem);
                height: (27/16rem);
                
                background: #000;
                opacity: 1;
                position: absolute;
                display: block;
                top: (11/16rem);
                right: (5/16rem);
                animation-name: InAndOut2;
                animation-duration: 3s;
                animation-delay: 0.1s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                transition: background-color 0.3s;
            }
        }

        .cs-bubble {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            &:before {
                /* Big Bubble */
                content: "";
                width: (63/16rem);
                height: (63/16rem);
               
                background: #000;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (4/16rem);
                left: (0/16rem);
                animation-name: floatAnimation2;
                animation-duration: 18s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                transition: background-color 0.3s;
            }

            &:after {
                /* Big Bubble */
                content: "";
                width: (50/16rem);
                height: (50/16rem);
               
                background: #000;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (-4/16rem);
                right: (0/16rem);
                animation-name: floatAnimation2;
                animation-duration: 25s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                transition: background-color 0.3s;
            }
        }

        .cs-icon {
            width: (72/16rem);
            height: auto;
            position: relative;
            z-index: 10;
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 900;
            text-align: center;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: (12/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: center;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }

    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-366 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-1865 {
        padding: var(--sectionPadding);
        padding-top: 0;
        padding-bottom: (40/16rem);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-subscribe {
            text-align: center;
            width: 100%;
            margin: auto;
            /* changes to -224px at desktop */
            margin-bottom: (-254/16rem);
            /* 60px - 100px top & bottom */
            padding: clamp(3.75rem, 8vw, 6.25rem) (16/16rem);  
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            /* 314px */
            transform: translateY(-19.625rem);
            transition: background-color 0.4s;

            &:hover {
                background: #000;

                .cs-h3 {
                    color: var(--primary);
                }

                .cs-item-text, .cs-title {
                    color: #fff;
                }

                .cs-icon {
                    transform: rotateY(360deg) translateY(-0.25rem);
                }
            }
        }

        .cs-topper {
            margin: 0 0 (4/16rem) 0;
            color: var(--primary);
        }

        .cs-title {
            color: var(--bodyTextColor);
            max-width: 25ch;
            margin-top: (32/16rem);
        }

        .cs-text {
            margin: 0 0 (32/16rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-form {
            width: 100%;
            max-width: (720/16rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: (8/16rem);    
        }

        .cs-input {
            font-size: (16/16rem);
            width: 100%;
            /* 46px - 56px */
            height: clamp(2.875rem, 5.5vw, 3.5rem);
            margin: 0;
            box-sizing: border-box;
            padding: 0;
            padding-left: (20/16rem);
            display: block;
        }

      
        .cs-submit {
            width: 100%;
            color: var(--bodyTextColorWhite);
            border: none;
            transition: background-color .3s;

            &:hover {
                cursor: pointer;
            }
        }

        .cs-top {
            /* 48px - 64px */
            margin-bottom: clamp(3rem, 6vw, 4rem);
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            /* 64px - 100px */
            column-gap: clamp(4rem, 9vw, 6.25rem);
            row-gap: (32/16rem);
        }

        .cs-logo-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 32px - 48px */
            gap: clamp(2rem, 4vw, 3rem);
        }



        .cs-social {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-social-li {
            list-style: none;
        }

        .cs-social-link {
            width: (40/16rem);
            height: auto;
            padding: (12/16rem);
            background-color: #DED1BD;
            border-radius: (32/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primary);

                .cs-social-icon {
                    filter: grayscale(1) brightness(1000%);
                }
            }
        }

        .cs-social-icon {
            width: (16/16rem);
            height: (16/16rem);
            display: block;
        }

        .cs-ul {
            width: auto;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-contact-ul {
            width: 100%;
            max-width: 100%;
            gap: (8/16rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            display: block;
        }

        .cs-header {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            /* 16px - 24px bottom */
            margin: 0 0 clamp(1rem, 3.5vw, 1.5rem) 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-link, .cs-li {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-link {
            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* on hover underline */
                content: "";
                width: 0%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: width 0.3s;
            }
        }

        .cs-bottom {
            width: 100%;
            margin: 0;
            /* 20px - 40px top */
            padding: clamp(1.25rem, 5vw, 2.5rem) 0 0 0;
            border-top: 1px solid #DED1BD;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: (24/16rem);
        }

        .cs-nav {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            /* 20px - 40px */
            column-gap: clamp(1.25rem, 5.3vw, 2.5rem);
        }

        .cs-nav-li {
            list-style: none;
        }

        .cs-nav-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColor);
            position: relative;

            &:hover {
                color: #8F5B34;

                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* on hover underline */
                content: "";
                width: 0%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: width 0.3s;
            }
        }

        .cs-copyright {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: center;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-copyright-link {
            font-size: inherit;
            line-height: inherit;
            text-decoration: none;
            margin: 0;
            color: inherit;
            display: inline-block;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-1865 {
        .cs-subscribe {
            /* 60px - 100px top & bottom */
            /* 100px - 200px left & right */
            padding: clamp(3.75rem, 8vw, 6.25rem) clamp(6.25rem, 13vw, 12.5rem);
           
        }

        .cs-form {
            flex-direction: row;
        }

        .cs-submit {
            width: 30%;
        }

        .cs-logo-wrapper {
            width: auto;
            margin-right: auto;
        }

        .cs-contact-ul {
            /* 152px - 412px */
            width: clamp(9.5rem, 25vw, 25.75rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-footer-1865 {
        .cs-subscribe {
            margin-bottom: (-224/16rem);
        }

        .cs-bottom {
            flex-direction: row;
        }

        .cs-copyright {
            text-align: right;
        }
    }
}
                                


