/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0rem) {
    // Website colors
    :root {
        --primary: #ff6d19;
        --primaryLight: #ffd675;
        --secondary: #001f3f;
        --secondaryLight: #001f3f;
        --headerColor: #000;
        --bodyTextColor: #000;
        --bodyTextColorWhite: #fff;

        /* 13px - 16px */
        --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyFontSize: 1rem;

        /* 60px - 100px top and bottom */
        --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }

    // Text styles - can be replaced using CodeStitch's "Content Flair" Stitches
    .cs-topper {
        display: block;
        margin-bottom: 0.25rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        font-weight: 700;
        color: var(--primary);
        text-align: inherit;
    }

    .cs-title {
        position: relative;
        margin: 0 0 1rem 0;
        max-width: 43.75rem;
        font-size: var(--headerFontSize);
        line-height: 1.2em;
        font-weight: 900;
        color: var(--headerColor);
        text-align: inherit;
    }

    .cs-text {
        margin: 0;
        max-width: 40.625rem;
        width: 100%;
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        color: var(--bodyTextColor);
        text-align: inherit;
    }

    // Button - can be replaced using CodeStitch's "Button" Stitches
    .cs-button-solid {
        z-index: 1;
        position: relative;
        display: inline-block;
        background-color: var(--primary);
        width: auto;
        padding: 0 (30/16rem);
        text-decoration: none;
        text-transform: uppercase;
        font-size: (16/16rem);
        line-height: (50/16em);
        font-weight: bold;

        // Transition Properties
        color: #000;
        transition: color 0.3s;
        transition-delay: 0.1s;
        text-align: center;

        &:hover {
            color: #fff;
            &:before {
                width: 100%;
            }
        }

        &:before {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            opacity: 1;
            display: block;
            background-color: #000;
            height: 100%;

            //Transition properties
            width: 0;
            transition: width 0.3s;
        }
    }

    .cs-hide-on-mobile {
        display: none;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .cs-hide-on-mobile {
        display: block;
    }

    .cs-hide-on-desktop {
        display: none;
    }
}

/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
    body,
    html {
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        font-family: "IBM Plex Serif", sans-serif;
        font-size: 100%;
        color: var(--bodyTextColor);
    }

    *,
    *:before,
    *:after {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    body {
        transition: background-color 0.3s;
    }

    .container {
        position: relative;
        margin: auto;
        width: 92%;
    }


    .cs-li {
        font-size: var(--bodyFontSize);
        list-style: none;
        line-height: 1.5em;
        width: 100%;
        color: var(--bodyTextColor);
        display: flex;
        justify-content: flex-start;
        /* push icon top the top so if the list item goes to two lines the icon stays at the top */
        align-items: flex-start;
        gap: (8/16rem);
    }

    .cs-icon {
        width: (24/16rem);
        height: auto;
        /* adds extra space between the icon and top of parent so it's more centered */
        margin-top: 1px;
        display: block;
    }
    
    .hover-effect {
        background: #000;
    
        .cs-h3 {
            color: var(--primary);
        }
    
        .cs-item-text {
            color: #fff;
        }
    
        .cs-li {
            color: #fff;
        }
    
        .cs-icon {
            transform: rotateY(360deg) translateY(-0.25rem);
            filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
            transition: transform 0.5s ease, filter 0.5s ease;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        color: var(--headerColor);
    }

    p,
    li,
    a {
        margin: 0;
        font-size: (16/16rem);
        line-height: 1.5em;
    }

    p,
    li {
        color: #353535;
    }

    a,
    button {
        &:hover {
            cursor: pointer;
        }
    }

    // Hidden Screen reader skip nav button
    .skip {
        z-index: -1111111;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

//* ibm-plex-serif-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/ibm-plex-serif-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* ibm-plex-serif-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/ibm-plex-serif-v19-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* Reset Margins */
@media only screen and (min-width: 1024px) {
    body,
    html {
        margin: 0;
        padding: 0;
    }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
    body,
    html {
        font-size: 0.55vw;
    }
}

}

 /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1203 {
        /* 150px - 350px */
        padding: clamp(9rem, 25.95vw, 21.875rem) (16/16rem);
        padding-bottom: 100px;
        position: relative;
        z-index: 1;
        /* prevents overflow from the arrow graphic */
        overflow: hidden;

        &:before {
            /* black bar */
            content: "";
            width: 100%;
            /* 100px - 200px */
            height: clamp(6.25rem, 29vw, 12.5rem);
            background: #1a1a1a;
            opacity: 1;
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.1em;
            font-weight: 700;
            color: var(--primary);
            margin-bottom: (4/16rem);
            display: block;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            width: 100%;
            max-width: 17ch;
            margin: 0 0 (16/16rem);
            color: var(--headerColor);
            position: relative;
        }

        .cs-text {
            font-size: (20/16rem);
            line-height: 1.5em;
            width: 100%;
            max-width: (700/16rem);
            /* 28px - 40px */
            margin: 0 0 clamp(1.75rem, 4vw, 2.5rem);
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            text-align: center;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            width: (180/16rem);
            text-decoration: none;
            font-weight: 700;
            /* clips corners of the before element */
            overflow: hidden;
            margin: 0;
            color: #1a1a1a;
            padding: 0;
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 100%;
            /* changes to 866px at desktop */
            max-width: (545/16rem);
            height: auto;
            display: flex;
            align-items: flex-end;
            position: relative;

            img {
                width: 100%;
                height: auto;
            }
        }

        .cs-floater {
            /* changes to 1465px at desktop */
            width: (955/16rem);
            height: auto;
            opacity: 0.08;
            display: block;
            position: absolute;
            right: 0;
            top: 40%;
            z-index: -1;
        }
    }
}
@media only screen and (min-width: 43.75rem) {
    #hero-1203 {
        padding-bottom: 178px;

    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-1203 {
        &:before {
            height: (258/16rem);
        }
        .cs-picture {
            width: 70%;
            max-width: (866/16rem);
        }

        .cs-floater {
            width: (1465/16rem);
            top: 30%;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #hero-1203 {
        padding-bottom: (200/16rem);

        &:before {
            height: 100%;
            width: 40vw;
            margin-left: (333/16rem);
            left: 50%;
        }

        .cs-container {
            flex-direction: row;
            justify-content: flex-start;
            /* remove the positioning so the cs-picture is now absolutely positioned to the next parent with a declared position - the #hero section container. Now we can position it off the bottom edge of the parent container */
            position: initial;
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
        }

        .cs-picture {
            width: (866/16rem);
            height: (842/16rem);
            margin-left: (10/16rem);
            position: absolute;
            left: 50%;
            bottom: 0;

            img {
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: contain;
            }
        }

        .cs-floater {
            margin-right: (-333/16rem);
            top: (140/16rem);
            right: 50%;
        }
    }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1346 {
        padding: var(--sectionPadding);
        padding-top: 200px;
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-flex-group {
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
            position: relative;
        }

        .cs-wrapper {
            position: relative;
        }

        .cs-button-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: (8/16rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-option {
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: clamp(3.125rem, 5vw, 4.5rem);
            font-weight: 700;
            padding: 0;
            box-sizing: border-box;
            color: var(--headerColor);
            position: relative;
            z-index: 1;
            border:none;

            &:before {

                content: "";
                width: 100%;
                height: 100%;
                background: #fff;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
             
            }

            &:hover {
                &:hover {
                    background: #000;
                    color: var(--primary);
                    cursor: pointer;
                    &:before {
                        background: #000;
                    }
                }
            }

            &.cs-active {
                background: #000;
                color:var(--primary);

                &:before {
                    background: #000;
                }
            }
        }

        .cs-faq-group {
            width: 100%;
            max-width: (847/16rem);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;
            flex-direction: column;
            gap: (8/16rem);
            transition:
                transform 0.7s,
                opacity 0.3s,
                visibility 0.5s,
                top 0.3s,
                left 0.3s;
            /* makes the transfrom scaling orgin the top left corner, dictates the direction by which the scale transforms animate towards */
            transform-origin: top;
            transform-style: preserve-3d;
            perspective: 900px;

            &.cs-hidden {
                position: absolute;
                /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
                visibility: hidden;
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
                opacity: 0;
                /* this top and left value help control the animation, by setting it to position absolute and left 0, the FAQ won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-flex-group (left: 0). Same for the bottom:0 value, the FAQ won't go past that position when it animates */
                top: 0;
                left: 0;
                position: absolute;
                /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
                transform: scaleY(0);

                .cs-faq-item {
                    transform: rotateX(270deg);
                    opacity: 0;
                }
            }
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            border: none;
            /* clips all corners of the button that overlap the rounded border */
            overflow: hidden;
            opacity: 1;
            top: 0;
            transform: rotateX(0deg);
            transition:
                transform 0.6s,
                opacity 0.3s;

            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.7s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.8s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.9s;
            }

            &.active {
                .cs-button {
                    color: var(--primary);
                    background:#000;
                    &:before {
                        background-color: var(--primary);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--primary);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    background:#000;
                    /* 20px - 24px bottom */
                    /* 16px - 24px left & right */
                    padding: 0 clamp(1rem, 2vw, 1.5rem)
                        clamp(1.25rem, 1.3vw, 1.5rem);
                    opacity: 1;
                    color:#fff;
                    width:100%;
                    
                }
                .cs-item-p li {
                    color:#fff;
                }
            }
        }

        .cs-button {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            /* 16px - 24px top & bottom */
            /* 16px - 20px left & right */
            padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 2vw, 1.25rem);
            background-color: #fff;
            border: none;
            color: var(--headerColor);
            display: block;
            width: 100%;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
                
            }

            &:before {
                /* left line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 50%;
                right: (24/16rem);
                transform: rotate(45deg);
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 50%;
                right: (21/16rem);
                transform: rotate(-45deg);
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
                transition: transform 0.5s;
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            opacity: 0;
            color: var(--bodyTextColor);
            overflow: hidden;
            transition: opacity 0.3s, padding-bottom 0.3s;
        
            ul {
                 /* Main list uses square bullets */
                 
                 list-style-position: outside;
                padding-left: 2rem; 
                margin-top: 1rem;
            }
        
            li {
                margin-bottom: 0.5rem; /* Space between list items */
                line-height:1.4em; /* Ensure consistent line height */
                color: var(--bodyTextColor);
                list-style-type: square;
                list-style-position: outside; 
                margin-left: 3rem; /* Additional indentation for nested lists */
            }

           
        }
        
       
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 48rem) {
    #faq-1346 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-flex-group {
            flex-direction: row;
        }

        .cs-button-group {
            width: 31%;
            max-width: (413/16rem);
        }
    }
}
                                


                                                      
/*-- -------------------------- -->
<---          Projects          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1728 {
        padding: var(--sectionPadding);
        /* changes side padding from the 1rem in the root css file to this clamp because it looks more proportional with this stitch's layout */
        padding-left: clamp(1rem, 3vw, 6.25rem);
        padding-right: clamp(1rem, 3vw, 6.25rem);
     
   
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1720/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (1280/16rem);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 13ch;
            margin-top:(32/16rem);
            
        }

        .cs-text {
            max-width: (632/16rem);
         
            opacity: .8;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            /* 160px - 380px */
            height: clamp(10rem, 27vw, 26.25rem);
            margin: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            padding: 0;
            background-color: #000;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            grid-column: span 12;
            position: relative;
            z-index: 1;
            transition: background-color 0.4s;

            &:hover {
                .cs-picture {
                    &:before {
                        opacity: .7;
                    }

                    img {
                        transform: scale(1.2);
                    }
                }

                .cs-h3 {
                    color: var(--primary);
                }
            }
        }
        .hover-effect {
            background: #000;
        
            .cs-h3 {
                color: var(--primary);
            }
        
            .cs-item-text {
                color: #fff;
            }
        
            .cs-li {
                color: #fff;
            }
        
            .cs-icon {
                transform: rotateY(360deg) translateY(-0.25rem);
                filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
                transition: transform 0.5s ease, filter 0.5s ease;
            }
        }
        .cs-link {
            text-decoration: none;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            /* 20px - 32px */
            padding: clamp(1.25rem, 2.3vw, 2rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            /* we use flexbox here to grow the link to fit the whole item, making it clickable everywhere, no matter the size */
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            z-index: 1;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            transition: color 0.3s;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            overflow: hidden;

            &:before {
                /* hover overlay */
                content: "";
                width: 100%;
                height: 100%;
                opacity: 0;
                background-color: #000;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                /* as we can't animate background gradients, we animate the change of opacity from 0 to 1 */
                transition: opacity 0.3s;
            }

            &:after {
                /* gradient overlay */
                content: "";
                width: 100%;
                height: 80%;
                opacity: 1;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 35.94%, #000 90.78%);
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -1;
                /* as we can't animate background gradients, we animate the change of opacity from 0 to 1 */
                transition: opacity 0.3s;
            }

            img {
                width: 100%;
                height: 100%;
                /* Makes img tag act as a background image */
                object-fit: contain;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform 0.3s;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1728 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        .cs-item {
            grid-column: span 4;

            &:nth-of-type(4), &:nth-of-type(5) {
                grid-column: span 6;
            }
        }

        .cs-text {
            width: 60%;
        }

      
    }
}
 
/* Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #services-1728 {
        .cs-card-group {
            grid-template-columns: repeat(10, 1fr);
        }

        .cs-item {
            grid-column: span 2;

            &:nth-of-type(4), &:nth-of-type(5) {
                grid-column: span 2;
            }
        }
    }
}
                                                         
/*-- -------------------------- -->
<---          Contact          -->
<--- -------------------------- -*/


/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-366 {
        padding: var(--sectionPadding);
        padding-top: 200px;
        padding-bottom: clamp(25rem, 30vw, 28.125rem);

        @keyframes floatAnimation2 {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-4px);
            }
            70% {
                transform: translateY(4px);
            }
            100% {
                transform: translateY(0);
            }
        }

        @keyframes InAndOut {
            0% {
                transform: translateY(3.75rem) scale(1);
                opacity: 1;
            }
            30% {
                transform: translateY(1.875rem) scale(0.8);
                opacity: 1;
            }
            60% {
                transform: translateY(0.625rem) scale(0.5);
                opacity: 0.2;
            }
            100% {
                transform: translateY(0rem) scale(0.2);
                opacity: 0;
            }
        }

        @keyframes InAndOut2 {
            0% {
                transform: translateY(4.375rem) scale(1);
                opacity: 1;
            }
            30% {
                transform: translateY(2.5rem) scale(0.8);
                opacity: 1;
            }
            60% {
                transform: translateY(1.25rem) scale(0.6);
                opacity: 1;
            }
            100% {
                transform: translateY(0rem) scale(0.4);
                opacity: 0;
            }
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            /* 16px - 20px */
            gap:8px;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (500/16rem);
            /* 20px - 40px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(1.25rem, 3.5vw, 2.5rem) clamp(1rem, 2.5vw, 2rem);
            box-sizing: border-box;
            transition: background-color 0.3s;

            &:hover {
                background-color: #000;

                .cs-icon-wrapper,
                .cs-bubble {
                    &:before,
                    &:after {
                        background-color: #fff;
                    }
                }

                .cs-icon {
                    /* makes it white on hover */
                   
                    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);        
                }

                .cs-h3 {
                    color: #fff;
                }

                .cs-item-text {
                    color: #fff;
                }
            }
        }
        .hover-effect {
            background: #000;
        
            .cs-h3 {
                color: var(--primary);
            }
        
            .cs-item-text {
                color: #fff;
            }
        
            .cs-li {
                color: #fff;
            }
        
            .cs-icon {
                transform: rotateY(360deg) translateY(-0.25rem);
                filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
                transition: transform 0.5s ease, filter 0.5s ease;
            }
        }
        .cs-link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-link-z {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color:#fff;
            font-size: larger;
        }

        .cs-icon-wrapper {
            width: (98/16rem);
            height: (120/16rem);
            margin-bottom: (24/16rem);
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;

            &:before {
                /* Small Bubble */
                content: "";
                width: (27/16rem);
                height: (27/16rem);
                
                background: #000;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: (3/16rem);
                animation-name: InAndOut;
                animation-duration: 2.4s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                transition: background-color 0.3s;
            }

            &:after {
                /* Small Bubble */
                content: "";
                width: (27/16rem);
                height: (27/16rem);
                
                background: #000;
                opacity: 1;
                position: absolute;
                display: block;
                top: (11/16rem);
                right: (5/16rem);
                animation-name: InAndOut2;
                animation-duration: 3s;
                animation-delay: 0.1s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                transition: background-color 0.3s;
            }
        }

        .cs-bubble {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            &:before {
                /* Big Bubble */
                content: "";
                width: (63/16rem);
                height: (63/16rem);
               
                background: #000;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (4/16rem);
                left: (0/16rem);
                animation-name: floatAnimation2;
                animation-duration: 18s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                transition: background-color 0.3s;
            }

            &:after {
                /* Big Bubble */
                content: "";
                width: (50/16rem);
                height: (50/16rem);
               
                background: #000;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (-4/16rem);
                right: (0/16rem);
                animation-name: floatAnimation2;
                animation-duration: 25s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                transition: background-color 0.3s;
            }
        }

        .cs-icon {
            width: (72/16rem);
            height: auto;
            position: relative;
            z-index: 10;
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 900;
            text-align: center;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: (12/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: center;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }

    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-366 {
        .cs-card-group {
            display: flex;
            flex-direction: column;
            justify-content: space-between; /* Ensures space between cards */
            flex-wrap: nowrap;
            align-items: flex-end; /* Aligns the cards to the right */
            gap: 20px; /* Adjust spacing between cards */
            padding-right: 20px; /* Adds some padding from the right edge */
        }
        
    }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-1865 {
        padding: var(--sectionPadding);
        padding-top: 0;
        padding-bottom: (40/16rem);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-subscribe {
            text-align: center;
            width: 100%;
            margin: auto;
            /* changes to -224px at desktop */
            margin-bottom: (-254/16rem);
            /* 60px - 100px top & bottom */
            padding: clamp(3.75rem, 8vw, 6.25rem) (16/16rem);  
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            /* 314px */
            transform: translateY(-19.625rem);
            transition: background-color 0.4s;

            &:hover {
                background: #000;

                .cs-h3 {
                    color: var(--primary);
                }

                .cs-item-text, .cs-title {
                    color: #fff;
                }

                .cs-icon {
                    transform: rotateY(360deg) translateY(-0.25rem);
                }
            }
        }

        .cs-topper {
            margin: 0 0 (4/16rem) 0;
            color: var(--primary);
        }

        .cs-title {
            color: var(--bodyTextColor);
            max-width: 25ch;
            margin-top: (32/16rem);
        }

        .cs-text {
            margin: 0 0 (32/16rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-form {
            width: 100%;
            max-width: (720/16rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: (8/16rem);    
        }

        .cs-input {
            font-size: (16/16rem);
            width: 100%;
            /* 46px - 56px */
            height: clamp(2.875rem, 5.5vw, 3.5rem);
            margin: 0;
            box-sizing: border-box;
            padding: 0;
            padding-left: (20/16rem);
            display: block;
        }

      
        .cs-submit {
            width: 100%;
            color: var(--bodyTextColorWhite);
            border: none;
            transition: background-color .3s;

            &:hover {
                cursor: pointer;
            }
        }

        .cs-top {
            /* 48px - 64px */
            margin-bottom: clamp(3rem, 6vw, 4rem);
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            /* 64px - 100px */
            column-gap: clamp(4rem, 9vw, 6.25rem);
            row-gap: (32/16rem);
        }

        .cs-logo-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 32px - 48px */
            gap: clamp(2rem, 4vw, 3rem);
        }



        .cs-social {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-social-li {
            list-style: none;
        }

        .cs-social-link {
            width: (40/16rem);
            height: auto;
            padding: (12/16rem);
            background-color: #DED1BD;
            border-radius: (32/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primary);

                .cs-social-icon {
                    filter: grayscale(1) brightness(1000%);
                }
            }
        }

        .cs-social-icon {
            width: (16/16rem);
            height: (16/16rem);
            display: block;
        }

        .cs-ul {
            width: auto;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-contact-ul {
            width: 100%;
            max-width: 100%;
            gap: (8/16rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            display: block;
        }

        .cs-header {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            /* 16px - 24px bottom */
            margin: 0 0 clamp(1rem, 3.5vw, 1.5rem) 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-link, .cs-li {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-link {
            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* on hover underline */
                content: "";
                width: 0%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: width 0.3s;
            }
        }

        .cs-bottom {
            width: 100%;
            margin: 0;
            /* 20px - 40px top */
            padding: clamp(1.25rem, 5vw, 2.5rem) 0 0 0;
            border-top: 1px solid #DED1BD;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: (24/16rem);
        }

        .cs-nav {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            /* 20px - 40px */
            column-gap: clamp(1.25rem, 5.3vw, 2.5rem);
        }

        .cs-nav-li {
            list-style: none;
        }

        .cs-nav-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColor);
            position: relative;

            &:hover {
                color: #8F5B34;

                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* on hover underline */
                content: "";
                width: 0%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: width 0.3s;
            }
        }

        .cs-copyright {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: center;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-copyright-link {
            font-size: inherit;
            line-height: inherit;
            text-decoration: none;
            margin: 0;
            color: inherit;
            display: inline-block;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-1865 {
        .cs-subscribe {
            /* 60px - 100px top & bottom */
            /* 100px - 200px left & right */
            padding: clamp(3.75rem, 8vw, 6.25rem) clamp(6.25rem, 13vw, 12.5rem);
           
        }

        .cs-form {
            flex-direction: row;
        }

        .cs-submit {
            width: 30%;
        }

        .cs-logo-wrapper {
            width: auto;
            margin-right: auto;
        }

        .cs-contact-ul {
            /* 152px - 412px */
            width: clamp(9.5rem, 25vw, 25.75rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-footer-1865 {
        .cs-subscribe {
            margin-bottom: (-224/16rem);
        }

        .cs-bottom {
            flex-direction: row;
        }

        .cs-copyright {
            text-align: right;
        }
    }
}
                                


