---
import BaseLayout from "../layouts/BaseLayout.astro";
import CTA from "../components/CTA.astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import {getOptimizedImage} from "../js/utils"
import landingImage from "../assets/images/bg.png" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage)
---

<BaseLayout
  title="Zack Freeman | Personal Website"
  description="Zack Freeman's Personal Website"
  preloadedImage = {optimizedImage}
 
>
<script src="/assets/js/script.js" defer></script>
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1427">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Hello.
                <span
                   class="txt-rotate"
                   data-period="2000"
                   data-rotate='[ "My name is Zachary Freeman.", "Welcome to my resume.", "I create solutions.", "I advance healthcare technology!" ]'></span>
              </h1>
  
              <h2 class="cs-text">Experienced Professional in IT, Sleep Medicine, and Business Solutions</h2>
  
              <p class="cs-text">
                With over 19 years of expertise, I specialize in sleep medicine, clinical operations, IT management, and web development, dedicated to turning ideas into impactful realities.
              </p>
        </div>
    </div>
  
    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="../assets/images/bg.png">
        <source media="(min-width: 601px)" srcset="../assets/images/bg.png">
        <img loading="lazy" decoding="async" src="../assets/images/bg.png" alt="professional background" width="1920" height="1200" aria-hidden="true">
    </picture>
  </section>
  
<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-1346">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Asked Questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <p class="cs-text">
                In the new era of technology we look in the future with certainty and for any post types, or just they are so much great of all to a program.
            </p>
        </div>
        <div class="cs-flex-group">
            <div class="cs-button-group">
                <!--If you need to add another button, make sure to copy and paste from one of the buttons here and increment the data-filter value, so the next one would be data-filter="four", and so on-->
                <button class="cs-option" data-filter="one">
                    Professional Summary
                </button>
                <button class="cs-option" data-filter="two">
                    Qualifications
                </button>
                <button class="cs-option" data-filter="three">
                    Certifications
                </button>
                <button class="cs-option" data-filter="four">
                    Experience
                </button>
                <button class="cs-option" data-filter="five">
                    Publications
                </button>
                <button class="cs-option" data-filter="sixe">
                    Refrences
                </button>
            </div>
            <!--We need this wrapper so the absolutely positioned FAQ lists can be positioned to the top of it to so the animations don't amke it overlap the buttons group above it. We needed a wrapper div around it for the faq lists to be relatively positioned to in order to get the effect we wanted-->
            <div class="cs-wrapper">
                <!--If you add more FAQ's, copy and paste of of the .cs-faq-grop lists and increment the data-category to the next number. We have three right now, if you added a fourth you'd change it to data-category="four" to correspond to the new button you created in the .cs-button-group. The filter and category data attributes need to match so they can work together-->
                <ul class="cs-faq-group" data-category="one">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Seasoned Expert in Sleep Medicine and Clinical Operations
                            </span>
                        </button>
                        <p class="cs-item-p">
                            With over 19 years of experience in sleep medicine, I have honed my expertise in clinical operations and team leadership. My career has been dedicated to managing sleep disorder centers and improving patient outcomes through innovative practices and meticulous attention to detail.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Leadership in Sleep Disorder Center Management
                            </span>
                        </button>
                        <p class="cs-item-p">
                            I have successfully led efforts to secure AASM and Joint Commission accreditations, ensuring high standards of care and compliance across all operations. My leadership has consistently driven improvements in patient care and streamlined workflows within complex clinical environments.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Innovator in IT Infrastructure and Workflow Optimization
                            </span>
                        </button>
                        <p class="cs-item-p">
                            In addition to my clinical expertise, I have extensive experience managing multi-faceted clinical operations and overseeing IT infrastructure. This includes implementing secure systems and leading website development projects to enhance operational efficiency and patient engagement.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Advancing Sleep Medicine and Pulmonary Care with Passion
                            </span>
                        </button>
                        <p class="cs-item-p">
                            A key focus of my work has been improving workflows, training teams, and boosting patient compliance with treatment plans. I take pride in fostering a collaborative environment where teams thrive and patients receive the highest level of care.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            I am deeply committed to advancing the fields of sleep medicine and pulmonary care. By combining my clinical knowledge, operational skills, and passion for patient-centered care, I strive to make a meaningful impact on the lives of those I serve.
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="two">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Workflow Organization and Operational Management
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Skilled in designing and implementing efficient workflows to streamline clinical and operational processes. Adept at overseeing complex operations to ensure seamless functionality and optimal outcomes.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Sleep Disorder Diagnosis and Management
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Extensive experience in diagnosing and managing a wide range of sleep disorders. Expertise includes advanced polysomnographic procedures, patient education, and treatment plan implementation.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Team Leadership and Staff Training
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Proven ability to lead and train multidisciplinary teams. Skilled in fostering collaboration, resolving conflicts, and enhancing team performance to achieve organizational goals.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Accreditation and Policy Development
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Expert in navigating AASM and Joint Commission accreditation processes. Experienced in developing comprehensive policy and procedure manuals aligned with industry standards.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Technology and Quality Improvement
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Proficient in IT management, full-stack web development, and SharePoint design. Focused on quality assurance and performance improvement initiatives to enhance patient care and compliance.
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="three">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                2016| Certification in Clinical Sleep Health. Certification #232 | Board of Polysomnographic Technologists
                                
                            </span>
                        </button>
                        <p class="cs-item-p">
                            The Registered Polysomnographic Technologist (RPSGT) certification is an internationally recognized credential for sleep technologists, awarded by the Board of Registered Polysomnographic Technologists (BRPT). It signifies advanced knowledge and expertise in sleep medicine and technology, including performing and interpreting sleep studies, administering treatments like CPAP therapy, and ensuring patient safety and comfort during sleep assessments. Achieving RPSGT certification requires completing educational and clinical requirements, passing a rigorous examination, and adhering to high ethical and professional standards. It is considered the gold standard in sleep technology certifications. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                2006| Registered Polysomnographic Technologist. Certification #9213 | Board of Polysomnographic Technologists
                            </span>
                        </button>
                        <p class="cs-item-p">
                            The Certification in Clinical Sleep Health (CCSH) is a prestigious credential awarded by the Board of Registered Polysomnographic Technologists (BRPT) to professionals specializing in sleep health education and management. This certification highlights expertise in patient-centered care, including identifying sleep disorders, educating patients and providers, and coordinating treatment plans to improve sleep health outcomes. The CCSH credential is designed for individuals with advanced knowledge of sleep science, emphasizing the importance of a multidisciplinary approach to addressing sleep-related challenges. Earning this certification demonstrates a commitment to excellence in clinical sleep health and patient advocacy.
                        </p>
                    
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="four">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Sleep Care Manager February 2014 – present <br>
                                TriCity Lung & Sleep | Dr. Saad S. Ahmad | Bay City, MI
                                
                            </span>
                        </button>
                        <p class="cs-item-p">
                            ●	Oversee all clinical operations for TriCity Lung & Sleep, managing a team of 3 full/part-time clinical staff and up to 4 support staff across 3 full-service sleep disorder centers and a central office/pulmonary clinic, generating annual revenue exceeding $500,000.<br><br>
                            ●	Successfully managed accreditation processes for three sleep labs by the American Academy of Sleep Medicine (AASM) and one by The Joint Commission.<br><br>
                            ●	Manage operations for the main office, supervising a team of four and coordinating sleep labs and weekly pulmonary care.<br><br>
                            ●	Lead the design and development of the company’s public website (www.TriCityLS.com), improving patient engagement and accessibility.<br><br>
                            ●	Designed and implemented a company-wide SharePoint site to streamline internal communication, document management, and workflow processes.<br><br>
                            ●	Supervise and mentor staff, ensuring compliance with AASM guidelines and optimizing operational efficiency to enhance patient care.<br><br>
                            ●	Provide patient education, including PAP therapy management and follow-up support, maintaining PAP compliance rates ranging 70-90%.<br><br>
                            ●	Performed polysomnographic studies, including:<br>

                            ▪	Standard baseline PSGs<br>
                            ▪	Pediatric PSGs with End Tidal Capnography<br>
                            ▪	Full 10-20 seizure/parasomnia montage PSGs<br>
                            ▪	CPAP, BiLevel, ASV, Spontaneous-Timed, and AVAPS titrations.<br><br>

                            ●	Organized and facilitated "Free CPAP Clinic" appointments and support group functions, providing education and support to the community.
                            ●	Established a home sleep apnea testing program with comprehensive patient education and follow-up.<br><br>
                            ●	Designed and implemented policy and procedure manuals in adherence to AASM guidelines under the direction of the Sleep Medicine Director.<br><br>
                            ●	Developed and maintained a quality improvement program aligned with AASM standards and performance benchmarks.<br><br>
                            ●	Trained and supervised sleep technologists and support staff, fostering a skilled and efficient team.
                               
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Sleep Lab Coordinator December 2005 – January 2014 <br>
                                Sleep Diagnostics of Michigan, P.C. | Saginaw, MI 48604

                            </span>
                        </button>
                        <p class="cs-item-p">
                            ●	Supervised up to 10 Sleep Technologists and 4 Medical Receptionists across four locations.
                            ●	Trained and oriented Sleep Technologists to perform advanced procedures, including:
                            
                            ▪	Standard baseline PSGs, pediatric PSGs with End Tidal Capnography, and 10-20 seizure/parasomnia montage PSGs.
                            ▪	CPAP, BiLevel, ASV, Spontaneous-Timed, and AVAPS titrations.
                            ▪	Urinalysis collection, MSLTs, MWTs, PAP Naps, and sleep study scoring.
                            ▪	EKG recognition, behavioral observations for parasomnias, recognition of unambiguous EEG activity, and emergency procedures.
                            
                            ●	Trained Medical Reception staff in phone triage, sleep therapy inquiries, prescription management, and patient assessment, including collecting vitals and preparing relevant information for providers.
                            ●	Implemented processes for appointment scheduling, follow-ups, equipment handling, and patient account counseling, ensuring seamless clinical operations.
                            ●	Developed quality assurance performance improvement plans (PIPs), including:
                            
                            ▪	Completing PIP sheets, quarterly reports, inter-scorer reliability reviews, sleep study evaluations, and infection control monitoring.
                            
                            ●	Established effective communication channels with staff to maintain a team-oriented atmosphere, resolve conflicts, enhance retention, and attract new hires by fostering a supportive and collaborative work environment. Regularly liaised with the Medical Director and department heads.
                            ●	Monitored trends in DME performance, referrals, diagnoses, and scheduling to optimize operations and address identified issues.
                            ●	Set education and training goals based on quality assurance data, delivering training through regular staff and shift meetings.
                            ●	Designed and implemented workflows and programs, including:
                            
                            ▪	Out-of-Center Testing procedures following AASM guidelines.
                            ▪	AWAKE (Awake, Alert, and Keeping Energized) CPAP support groups in Michigan, aligned with American Sleep Apnea Association standards.
                            ▪	Policies for PAP Naps, Department of Transportation patient processing, and intake procedures.
                            
                            ●	Authored policies for the policy and procedure manual, including:
                            
                            ▪	Home Sleep Testing guidelines.
                            ▪	Oral Device Use for Obstructive Sleep Apnea treatment.
                            ▪	Precautions for shift workers.
                            
                            ●	Designed and implemented departmental processes, including:
                            
                            ▪	Patient results communication.
                            ▪	Triage of high-priority cases post-sleep study.
                            ▪	Documentation standards for Medical Receptionists and Medical Assistants.
                            
                            ●	Designed and established sleep labs and testing rooms, including:
                            
                            ▪	Selecting and purchasing furniture, equipment, and computers.
                            ▪	Creating layouts and décor for functional and welcoming spaces.
                            ▪	Installing and configuring Local Area Networks (LANs).
                            ▪	Installation and configuration of Respironics and Sandman sleep systems.
                            
                            ●	Provided computer and network troubleshooting, repair, and consultation for various departments.
                            ●	Led the implementation of new Electronic Medical Records (EMR) systems, including staff training and workflow integration.
                            
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Polysomnographic Technician/ Lead Technician January 2005 – December 2005
Michigan Sleep Diagnostics and Research Center | Beecher Rd Flint, MI 48532

                            </span>
                        </button>
                        <p class="cs-item-p">
                            ●	Gained expertise in performing a wide range of sleep studies, including:

▪	Standard baseline PSGs and pediatric PSGs with End Tidal Capnography.
▪	Full 10-20 seizure/parasomnia montage PSGs.
▪	CPAP, BiLevel, and Spontaneous-Timed titrations.
▪	Urinalysis collection, MSLTs, MWTs, and PAP Naps.

●	Developed competencies in EKG recognition, sleep study scoring, behavioral observations for parasomnias, recognition of EEG activity, and emergency/sentinel event protocols.
●	Promoted to Lead Technician, assuming additional responsibilities for:

▪	Sleep study scoring.
▪	Managing inventory and supplies.
▪	Scheduling staff to ensure adequate coverage and efficient lab operations.

                        </p>
                    </li>
                    
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="five">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Textbook Contributions
                            </span>
                        </button>
                        <p class="cs-item-p">
                            ●	Fundamentals of Sleep Technology
                                    Author(s): Teofilo L. Lee-Chiong, Jr. MD, Cynthia Mattice MS, RPSGT, RST, Rita Brooks MEd, R EEG/EP T
                                    ISBN: 9781975111625 | Publication Date: May 21, 2019
                                    ▪	Chapter 49: Advanced Positive Airway Pressure Therapies for Sleep-Disordered Breathing
                                    Co-authored with Saad S. Ahmad
                                    ▪	Chapter 54: Other Therapies for Obstructive Sleep Apnea
                                    Co-authored with Saad S. Ahmad

                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                American Association of Sleep Technologists - Blog Page
                            </span>
                        </button>
                        <p class="cs-item-p">
                            ●	Positional Therapy – Is it Especially Helpful for Full Face CPAP Mask Patients?, August 2016
                            ●	How to Work Hard at PAP Adherence, May 2016
                            
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                RT Magazine: For Decision Makers in Respiratory Care
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Proven ability to lead and train multidisciplinary teams. Skilled in fostering collaboration, resolving conflicts, and enhancing team performance to achieve organizational goals.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Accreditation and Policy Development
                            </span>
                        </button>
                        <p class="cs-item-p">
                            ●	Getting the Real Story: Raising the Bar for Compliance, June 2008
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
       const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
            item.classList.toggle('active')
        }
        item.addEventListener('click', onClick)
        }

        class FAQFilter {
        filtersSelector = '.cs-option'
        FAQselector = '.cs-faq-group'
        activeClass = 'cs-active'
        hiddenClass = 'cs-hidden'

        constructor() {
            const $filters = document.querySelectorAll(this.filtersSelector)
            this.$activeFilter = $filters[0]
            this.$images = document.querySelectorAll(this.FAQselector)

            this.$activeFilter.classList.add(this.activeClass)

            for (const $filter of $filters) {
            $filter.addEventListener('click', () => this.onClick($filter))
            }
        }

        onClick($filter) {
            this.filter($filter.dataset.filter)

            const { activeClass } = this

            this.$activeFilter.classList.remove(activeClass)
            $filter.classList.add(activeClass)

            this.$activeFilter = $filter
        }

        filter(filter) {
            const showAll = filter == 'all'
            const { hiddenClass } = this

            for (const $image of this.$images) {
            const show = showAll || $image.dataset.category == filter
            $image.classList.toggle(hiddenClass, !show)
            }
        }
        }

        new FAQFilter()
                                 
    </script>
</section>
                                

  <!-- ============================================ -->
  <!--                   Professional Experience    -->
  <!-- ============================================ -->
  
  <section id="services-1330">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Professional Experience</span>
            <h2 class="cs-title">Leadership in Clinical, IT, and Operational Excellence</h2>
            <p class="cs-text">Proven track record in managing complex operations, achieving accreditations, and delivering impactful IT and web solutions.</p>
        </div>
  
        <ul class="cs-card-group">
            <li class="cs-item hover-on-scroll">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/svgs/it.svg" loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <div class="cs-text-group">
                    <h3 class="cs-h3">Sleep Care Manager</h3>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">
                            Managed clinical operations for TriCity Lung & Sleep, generating over $500,000 annually.
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">
                            Achieved multiple AASM and Joint Commission accreditations for sleep labs.
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">
                            Designed and implemented SharePoint systems to improve workflow efficiency.
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">
                            Provided patient education, achieving PAP compliance rates of 70-90%.
                        </li>
                    </ul>
                </div>
            </li>
  
            <li class="cs-item hover-on-scroll">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/svgs/network.svg" loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <div class="cs-text-group">
                    <h3 class="cs-h3">Sleep Lab Coordinator</h3>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">
                            Supervised teams across four locations, training technologists in advanced PSG procedures.
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">
                            Implemented Out-of-Center Testing and AWAKE CPAP support groups.
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">
                            Led network setup and EMR integration for sleep labs.
                        </li>
                    </ul>
                </div>
            </li>
  
            <li class="cs-item hover-on-scroll">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/svgs/web.svg" loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <div class="cs-text-group">
                    <h3 class="cs-h3">Web Development</h3>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">
                            Designed TriCity Lung & Sleep public website, enhancing patient engagement.
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">
                            Built custom-coded websites optimized for performance and scalability.
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
  </section>
  
  
  <!-- ============================================ -->
  <!--                    Skills                    -->
  <!-- ============================================ -->
  
  <section id="services-1201">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Skills & Expertise</span>
                <h2 class="cs-title">Core Competencies:</h2>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item hover-on-scroll">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/svgs/admin.svg" loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <div class="cs-text-group">
                    <h3 class="cs-h3">IT Administration</h3>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">Microsoft 365 & Azure setups</li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">HIPAA-compliant security policies</li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">Endpoint security using Intune</li>
                    </ul>                      
                </div>
            </li>
            <li class="cs-item hover-on-scroll">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/svgs/sec.svg" loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <div class="cs-text-group">
                    <h3 class="cs-h3">Clinical Operations</h3>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">AASM accreditation leadership</li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">Team leadership and patient care</li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">Training and mentoring clinical staff</li>
                    </ul>                      
                </div>
            </li>
        </ul> 
    </div>
  </section>
  
  <!-- ============================================ -->
  <!--                  Contact                     -->
  <!-- ============================================ -->
  
  <section id="services-366">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Let's Connect</span>
            <h2 class="cs-title">Contact Me:</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item hover-on-scroll">
                <a href="mailto:zackrfreeman@gmail.com" class="cs-link">
                    <h3 class="cs-h3">Email</h3>
                    <a href="mailto:zackrfreeman@gmail.com" class="cs-link-z">zackrfreeman@gmail.com</a>
                </a>
            </li>
            <li class="cs-item hover-on-scroll">
                <a href="https://www.linkedin.com/in/zack-freeman/" class="cs-link">
                    <h3 class="cs-h3">LinkedIn</h3>
                    <a href="https://www.linkedin.com/in/zack-freeman/" class="cs-link-z">linkedin.com/in/zack-freeman/</a>
                </a>
            </li>
        </ul>
    </div>
  </section>
  


  <CTA />
</BaseLayout>


