---
import BaseLayout from "../layouts/BaseLayout.astro";
import CTA from "../components/CTA.astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import {getOptimizedImage} from "../js/utils"
import landingImage from "../assets/images/bg.png" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage)
---

<BaseLayout
  title="Zack Freeman | Personal Website"
  description="MZack Freeman's Personal Website"
  preloadedImage = {optimizedImage}
 
>
<script src="/src/js/script.js" defer></script>
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1427">
  <div class="cs-container">
      <div class="cs-content">
          <h1 class="cs-title">Hello.
              <span
                 class="txt-rotate"
                 data-period="2000"
                 data-rotate='[ "My name is Zack.", "Welcome to my page.", "I create solutions.", "I love my wife, Michelle!" ]'></span>
            </h1>

            <h2 class="cs-text">Turning ideas into reality—one website, system, or solution at a time.</h2>

            <p class="cs-text">
              With over 20 years of experience in IT and small business support, I specialize in website development, Microsoft solutions, and IT for small businesses. 
            </p>
      </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-background">
      <source media="(max-width: 600px)" srcset="../assets/images/bg.png">
      <source media="(min-width: 601px)" srcset="../assets/images/bg.png">
      <img loading="lazy" decoding="async" src="../assets/images/bg.png" alt="field" width="1920" height="1200" aria-hidden="true">
  </picture>
</section>
                       
<!-- ============================================ -->
<!--                   Experience                 -->
<!-- ============================================ -->

<section id="services-1330">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">I got experience</span>
          <h2 class="cs-title">Expertise Across Clinical Operations, IT, and Leadership</h2>
          <p class="cs-text"> Progression from clinical sleep medicine roles to managing multi-location operations and leading IT, compliance, and security projects. </p>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item hover-on-scroll">
              <picture class="cs-picture">
                  <img class="cs-icon" src="/assets/svgs/it.svg"
                          loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
              </picture>
              <!-- Text Grouped For Flexbox-->
              <div class="cs-text-group">
                  <h3 class="cs-h3">IT Infrastructure & System Setup</h3>
                  <ul class="cs-ul">
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">Established an Azure tenant environment with Microsoft 365, ensuring a secure and scalable platform for operations</li>
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg"alt="checkmark" width="24" height="24">Administered Office 365, managing user accounts, permissions, and collaborative tools</li>
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg"alt="checkmark" width="24" height="24">et up endpoint security using Intune and Windows Defender, achieving compliance with HIPAA and other security standards</li>
                  </ul>
              </div>
          </li>
          <li class="cs-item hover-on-scroll">
              <picture class="cs-picture">
                  <img class="cs-icon" src="/assets/svgs/network.svg"
                          loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
              </picture>
              <!-- Text Grouped For Flexbox-->
              <div class="cs-text-group">
                  <h3 class="cs-h3"> Network & Security Management</h3>
                  <ul class="cs-ul">
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">Managed SMB networking for multiple locations, ensuring smooth and secure connectivity.</li>
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg"alt="checkmark" width="24" height="24">Implemented cloud and endpoint security policies, maintaining high security scores and compliance with industry regulations like The Joint Commission.</li>
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">Oversaw IT security for multiple sleep centers, ensuring continuous uptime and data protection.</li>
                    </ul>
              </div>
          </li>
          <li class="cs-item hover-on-scroll">
              <picture class="cs-picture">
                  <img class="cs-icon" src="/assets/svgs/spd.svg"
                          loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
              </picture>
              <!-- Text Grouped For Flexbox-->
              <div class="cs-text-group">
                  <h3 class="cs-h3">SharePoint & Web Solutions</h3>
                  <ul class="cs-ul">
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg"alt="checkmark" width="24" height="24">Designed and implemented SharePoint hub sites and file structures for TriCity Lung & Sleep, streamlining internal collaboration.</li>
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">Developed a custom-coded public website for TriCity Lung & Sleep, focusing on responsive design and user-friendly functionality.</li>
                    </ul>
              </div>
          </li>
          <li class="cs-item hover-on-scroll">
              <picture class="cs-picture">
                  <img class="cs-icon" src="/assets/svgs/emr.svg"
                          loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
              </picture>
              <!-- Text Grouped For Flexbox-->
              <div class="cs-text-group">
                  <h3 class="cs-h3">EMR & IT Leadership</h3>
                  <ul class="cs-ul">
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg"alt="checkmark" width="24" height="24">Acted as EMR administrator for Meditab IMS, managing the implementation and customization of the system for efficient clinical operations.</li>
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">Led IT initiatives across multiple locations, providing first-line IT support and overseeing network, system, and security needs for sleep labs and medical offices.</li>
                    </ul>
                    
              </div>
          </li> 
      </ul>
  </div>
</section>                              

<!-- ============================================ -->
<!--                    SKILLS                  -->
<!-- ============================================ -->

<section id="services-1201">
  <div class="cs-container">
      <div class="cs-content">
          <div class="cs-flex-group">
              <span class="cs-topper">I got skills</span>
              <h2 class="cs-title">Core Competencies: </h2>
          </div>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item hover-on-scroll">
              <picture class="cs-picture">
                  <img class="cs-icon" src="/assets/svgs/admin.svg"
                          loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
              </picture>
              <!-- Text Grouped For Flexbox-->
              <div class="cs-text-group">
                  <h3 class="cs-h3">System Administration</h3>
                  <ul class="cs-ul">
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg"alt="checkmark" width="24" height="24">Microsoft Windows</li>
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg"alt="checkmark" width="24" height="24">icrosoft 365 administration</li>
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">Azure tenant environment setup</li>
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">Office 365 administration</li>
                  </ul>                      
              </div>
          </li>
          <li class="cs-item hover-on-scroll">
              <picture class="cs-picture">
                  <img class="cs-icon" src="/assets/svgs/sec.svg"
                  loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">  
              </picture>
              <!-- Text Grouped For Flexbox-->
              <div class="cs-text-group">
                  <h3 class="cs-h3">Networking & Security</h3>
                  <ul class="cs-ul">
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">SMB networking</li>
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">Endpoint security using Intune and Windows Defender</li>
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">Cloud and endpoint security policy implementation (HIPAA compliance)</li>
                    </ul>
                    
              </div>
          </li>
          <li class="cs-item hover-on-scroll">
              <picture class="cs-picture">
                  <img class="cs-icon" src="/assets/svgs/web.svg"
                          loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
              </picture>
              <!-- Text Grouped For Flexbox-->
              <div class="cs-text-group">
                  <h3 class="cs-h3">Web Development</h3>
                  <ul class="cs-ul">
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">SMB networking</li>
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">Endpoint security using Intune and Windows Defender</li>
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">Cloud and endpoint security policy implementation (HIPAA compliance)</li>
                    </ul>
                    
              </div>
          </li>
          <li class="cs-item hover-on-scroll">
              <picture class="cs-picture">
                  <img class="cs-icon" src="/assets/svgs/sp2.svg"
                          loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
              </picture>
              <!-- Text Grouped For Flexbox-->
              <div class="cs-text-group">
                  <h3 class="cs-h3"> SharePoint & Collaboration Tools</h3>
                  <ul class="cs-ul">
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg"  fill="#000" alt="checkmark" width="24" height="24">SharePoint hub and site design</li>
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg"" alt="checkmark" width="24" height="24">File structure implementation</li>
                  </ul>
              </div>
          </li>
          <li class="cs-item hover-on-scroll">
              <picture class="cs-picture">
                  <img class="cs-icon" src="/assets/svgs/EMR2.svg"
                          loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
              </picture>
              <!-- Text Grouped For Flexbox-->
              <div class="cs-text-group">
                  <h3 class="cs-h3">EMR Systems</h3>
                  <ul class="cs-ul">
                      <li class="cs-li">
                          <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">EMR administration (Meditab IMS)</li>
                  </ul>
              </div>
          </li>
          <li class="cs-item hover-on-scroll">
              <picture class="cs-picture">
                  <img class="cs-icon" src="/assets/svgs/clipboard.svg"
                          loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
              </picture>
              <!-- Text Grouped For Flexbox-->
              <div class="cs-text-group">
                  <h3 class="cs-h3">Compliance & Accreditation</h3>
                      <ul class="cs-ul">
                          <li class="cs-li">
                              <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="24" height="24">Security compliance (HIPAA, AASM, The Joint Commission)</li>
                    </ul>                      
              </div>
          </li>
      </ul> 
  </div>
</section>                                        



 <!-- ============================================ -->
<!--                    Projects                  -->
<!-- ============================================ -->

<section id="services-1728">
  <div class="cs-container">
      <div class="cs-content">
          <div class="cs-flex-group">
              <span class="cs-topper">I got projects</span>
              <h2 class="cs-title">I made these</h2>
          </div>
          
      </div>
      <ul class="cs-card-group">
          <li class="cs-item hover-on-scroll">
              <a href="https://tricityls.com" class="cs-link">
                  <h3 class="cs-h3">TriCity Lung & Sleep</h3>
              </a>
              <picture class="cs-picture">
                  <source media="(max-width: 600px)" srcset="/assets/images/TCLS.webp">
                  <source media="(min-width: 601px)" srcset="/assets/images/TCLS.webp">
                  <img decoding="async" src="/assets/images/TCLS.webp" alt="website for a doctor" width="384" height="480" aria-hidden="true" loading="lazy">
              </picture>
          </li>
          <li class="cs-item hover-on-scroll">
              <a href="https://tricitytech.us" class="cs-link">
                  <h3 class="cs-h3">Tri-City Technologies</h3>
              </a>
              <picture class="cs-picture">
                  <source media="(max-width: 600px)" srcset="/assets/images/TCT.webp">
                  <source media="(min-width: 601px)" srcset="/assets/images/TCT.webp">
                  <img decoding="async" src="/assets/images/TCT.webp" alt="website for a design agency" width="384" height="480" aria-hidden="true" loading="lazy">
              </picture>
          </li>
          <li class="cs-item hover-on-scroll">
              <a href="" class="cs-link">
                  <h3 class="cs-h3">Coming soon...</h3>
              </a>
              <picture class="cs-picture">
                  <source media="(max-width: 600px)" srcset="/assets/images/TBD.webp">
                  <source media="(min-width: 601px)" srcset="/assets/images/TBD.webp">
                  <img decoding="async" src="/assets/images/TBD.webp" alt="coming soon" width="384" height="480" aria-hidden="true" loading="lazy">
              </picture>
          </li>
          <li class="cs-item hover-on-scroll">
              <a href="" class="cs-link">
                  <h3 class="cs-h3">Coming soon...</h3>
              </a>
              <picture class="cs-picture">
                  <source media="(max-width: 600px)" srcset="/assets/images/TBD.webp">
                  <source media="(min-width: 601px)" srcset="/assets/images/TBD.webp">
                  <img decoding="async" src="/assets/images/TBD.webp" alt="coming soon" width="384" height="480" aria-hidden="true" loading="lazy">
              </picture>
          </li>
          <li class="cs-item hover-on-scroll">
              <a href="" class="cs-link">
                  <h3 class="cs-h3">Coming soon...</h3>
              </a>
              <picture class="cs-picture">
                  <source media="(max-width: 600px)" srcset="/assets/images/TBD.webp">
                  <source media="(min-width: 601px)" srcset="/assets/images/TBD.webp">
                  <img decoding="async" src="/assets/images/TBD.webp" alt="coming soon" width="384" height="480" aria-hidden="true" loading="lazy">
              </picture>
          </li>
      </ul>
  </div>
</section>
                                                           
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-366">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">I am reachable</span>
          <h2 class="cs-title">So Reach out</h2>
                  </div>
      <ul class="cs-card-group">
          <li class="cs-item hover-on-scroll">
            <a href="mailto:Zack4894@proton.me" class="cs-link">
                  <div class="cs-icon-wrapper">
                      <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/email2.svg" alt="icon" width="48" height="48">
                      <!--Create a span to make more bubbles with pesudo elements-->
                      <span class="cs-bubble" aria-hidden="true"></span>
                  </div>
                  <h3 class="cs-h3">Email</h3>
                  <a href="mailto:Zack4894@proton.me" class="cs-link-z">Zack4894@proton.me</a>
              </a>
          </li>
          <li class="cs-item hover-on-scroll">
            <a href="https://www.linkedin.com/in/zack-freeman/" class="cs-link">
                  <div class="cs-icon-wrapper">
                      <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="assets/svgs/linkedin.svg" alt="icon" width="48" height="48">
                      <!--Create a span to make more bubbles with pesudo elements-->
                      <span class="cs-bubble" aria-hidden="true"></span>
                  </div>
                  <h3 class="cs-h3">LinkedIn</h3>
                  <a href="https://www.linkedin.com/in/zack-freeman/" class="cs-link-z">linkedin.com/in/zack-freeman/</a>
                  
              </a>
          </li>
          <li class="cs-item hover-on-scroll">
              <a href="https://www.facebook.com/zackr.freeman/" class="cs-link">
                  <div class="cs-icon-wrapper">
                      <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="assets/svgs/fb2.svg" alt="icon" width="48" height="48">
                      <!--Create a span to make more bubbles with pesudo elements-->
                      <span class="cs-bubble" aria-hidden="true"></span>
                  </div>
                  <h3 class="cs-h3">Facebook</h3>
                  <a href="https://www.facebook.com/zackr.freeman/" class="cs-link-z">facebook.com/zackr.freeman/</a>
              </a>
          </li>
      </ul>
  </div>
</section>

  <CTA />
</BaseLayout>


