---
import client from "../data/client.json";
---

<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1865">
  <div class="cs-container">
      <div class="cs-subscribe">
      
          <h2 class="cs-title hover-on-scroll">Thanks for stopping by!</h2>
        
      </div>
  </div>
</footer>